@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;700&family=Inter:wght@300;400");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: hsl(145, 100%, 40%);
  --color-primary-foreground: hsl(0, 0%, 100%);
  --color-primary-hover: hsl(145, 100%, 35%);
  --color-primary-active: hsl(145, 99%, 30%);
  --color-secondary: hsl(145, 70%, 50%);
  --color-secondary-foreground: hsl(0, 0%, 98%);
  --color-tertiary: hsl(0, 0%, 96%);
  --color-tertiary-foreground: hsl(0, 0%, 20%);
  --color-accent: hsl(27, 97%, 54%);
  --color-accent-foreground: hsl(0, 0%, 100%);
  --color-background: hsl(0, 0%, 100%);
  --color-foreground: hsl(0, 0%, 6%);
  --color-border: hsl(0, 0%, 90%);
  --color-success: hsl(145, 90%, 40%);
  --color-warning: hsl(40, 98%, 50%);
  --color-error: hsl(0, 80%, 50%);
  --font-sans: "DM Sans", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;
  --font-inter: "Inter", sans-serif;
}

html,
body {
  color: hsl(0, 0%, 6%);
  background-color: hsl(0, 0%, 100%);
  font-family: "DM Sans", sans-serif;
}

* {
  box-sizing: border-box;
}
@layer utilities {
    .text-balanced{
        text-wrap: balance;
    }
}
